@import '../../../main-styles.scss';

.header {
    text-align: center;
    margin-top: 10px;
}

.headline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    letter-spacing: 2px;
}

.centered-content{
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;

}

.task-manager-container{
    display: flex;
    width: 800px;
    height: 650px;
    background-color: $light;
    margin-left: 30px;
    margin-top: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 42px;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button {
    background-color: $tarheelblue;
}

.task-list-container{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 42px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    

    .top-bar {
        margin-bottom: 20px;
        display: flex;
        .title {
            flex-grow: 1;
            margin: 0;
        }
    }

}

.list-menu{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 2px 6px;
        border-radius: 5px;

        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;

        &:hover {
            background: $light;
        }
        &.is-active {
            background-color: #cfebf8;
            color: $dark-blue;
        }

    }
}

.task {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;

    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #eee;
    }
    }

    &.complete {
        text-decoration: line-through;
        opacity: 0.5;
    }
}